/* .designer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 1px solid lightslategray;
    background-color: lightskyblue;
} */
.designer img{
    width: 60%;
    border-radius: 50% 50% 50% 50%;
}
/* .card-style{
    width: 100%;
    height: 400px;
    object-fit: cover;
} */
.card-design{
    width: 100%;
      height: 600px;
      object-fit: cover;
      background-color: rgba(235, 226, 234, 0.295);
      border: 2px solid rgba(179, 170, 170, 0.336);
  
  }
  .single-designer {
    padding: 20%;
    text-align: center;
    transition: 0.6s;
  }
  .single-designer:hover {
    box-shadow: 4px 4px 7px gray;
    border-radius: 10px;
    border: 1px solid cyan;
  }
  #all-designers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 3%;
    column-gap: 10%;
    margin-top: 3%;
    padding: 5%; */
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .cart-main {
    padding-right: 30px;
    
  }
  .button{
    background-color: #d63384;
    color: white;
    border: none;
    border-radius: 20px 20px 20px 20px;
    padding: 10px 20px;
    font-weight: bold;
  }
  .button:hover{
    background-color: #c0538a;
  }
  
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  } 